:root {
    --secondary-bg: #D6FFDE;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.sec {
    background: radial-gradient(
        var(--secondary-bg),
        rgb(106, 201, 119));
}

.card-elegant {
    background-color: #faf9f6;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
}

.blurEffect {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0 25px;
}

.paddin {
    scroll-margin-top: 30px;
}

.navbar {
    display: flex;
    align-items: center;
}

.main-txt {
    font-size: 2rem;
}

.btnn {
    border-radius: 20px;
}

.anchor {
    text-decoration: none;
    color: inherit;
}

.pricingBtn {
    border-radius: 15px;
    font-size: 1rem;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
}

@media screen and (max-width: 890px) {
    .navMenu {
        display: none;
    }
    .closeNav {
        display: block;
    }
}

@media screen and (min-width: 890.1px) {
    .closeNav {
        display: none;
    }
}